html {
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}




div.auto {
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0em 1em 0em;
}

:root {
  --text-color: #272C30;
  --bg-color: #FEFEFF;
  /* --accent-color: #32DE8A; */
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.nav-link {
	padding: 0em 0em 0em;
}

.icon-link {
	display: none;
	padding: 0em 0em 0em;
}

@media (max-width: 660px) {
	.nav-link {display: none;}
	.icon-link {display: inherit;}
}

.icon-bar {
  letter-spacing: 1em;
  font-size: 1em !important;
}

.crumb-style a {
  transition: 70ms all;
}

.crumb-style a:hover {
  opacity: 0.7 !important;
  background-color: transparent !important;
  color: inherit !important;
}

.images a:hover {
  background-color: transparent !important;
  color: inherit !important;
}

img.emoji {
    width: 1.1em;
	height: 1.1em;
	margin: 0.05em 0.1em;
	vertical-align: -0.1em;
    pointer-events: none; 
}

::-moz-selection { /* Code for Firefox */
    color: var(--bg-color);
    background: var(--text-color);
}

::selection {
    color: var(--bg-color);
    background: var(--text-color);
}

.body-padding {
    padding: 30vh 0em 5em;
    max-width: 53rem;
    margin: auto;
}


.feather {
  width: 0.8em;
  padding-right: 0.6em;
  margin: auto;
}

.awesome {
  font-size: 70%;
  padding-right: 0.6em;
  margin: auto;
}

h1 {
    font-size: 1.6em;
}

.crumb-style {
  font-size: 0.9em;
}

@media (max-width: 760px) {
	h1 { font-size: 1.3em; }
  .crumb-style { font-size: 0.8em; }
}


a {
    font-size: inherit;
    text-decoration: none;
    color: inherit;
    transition: all 70ms linear;
}

a:hover {
    color: var(--bg-color);
    background-color: var(--text-color);
}

/*containers*/

.grid {
  display: flex;
  flex-direction: row;
}

.grid-cell-half {
  flex: 50%;
}

.grid-cell-third {
  flex: 33.33333%;
}

.grid-cell-twothird {
  flex: 66.6666%;
}

.images {
  -webkit-filter: grayscale(80%);
  filter: grayscale(80%);
  transition: 90ms all;
}

.images:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}


.images .left {
  padding: 2.5px 10px 2.5px 0px;
}

.images .right {
  padding: 2.5px 0px 2.5px 10px;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 690px) {
  .grid {
    flex-direction: column;
  }
  .images .left, .right {
    padding: 5px 0px 5px !important;
  }
}

a:active {
	font-weight: bold;
}




/* TEA */

svg.tea {
    --secondary: var(--text-color);
  }
  svg.tea #teabag {
    transform-origin: top center;
    transform: rotate(3deg);
    animation: swing 2.3s infinite;
  }
  svg.tea #steamL {
    stroke-dasharray: 13;
    stroke-dashoffset: 13;
    animation: steamLarge 2.3s infinite;
  }
  svg.tea #steamR {
    stroke-dasharray: 9;
    stroke-dashoffset: 9;
    animation: steamSmall 2.3s infinite;
  }
  @-moz-keyframes swing {
    50% {
      transform: rotate(-3deg);
    }
  }
  @-webkit-keyframes swing {
    50% {
      transform: rotate(-3deg);
    }
  }
  @-o-keyframes swing {
    50% {
      transform: rotate(-3deg);
    }
  }
  @keyframes swing {
    50% {
      transform: rotate(-3deg);
    }
  }
  @-moz-keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }
    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }
  @-webkit-keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }
    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }
  @-o-keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }
    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }
  @keyframes steamLarge {
    0% {
      stroke-dashoffset: 13;
      opacity: 0.6;
    }
    100% {
      stroke-dashoffset: 39;
      opacity: 0;
    }
  }
  @-moz-keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }
    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }
  @-webkit-keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }
    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }
  @-o-keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }
    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }
  @keyframes steamSmall {
    10% {
      stroke-dashoffset: 9;
      opacity: 0.6;
    }
    80% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
    100% {
      stroke-dashoffset: 27;
      opacity: 0;
    }
  }

  