/* this part is from normalize.css */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:auto}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#060529}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}


fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* end of normalize.css */

/* Setting fade transition and default settings */
body {
  /*color: #2f1fe0*/
  color: #f7f7f7;
  background-color: #080808;
  transition: background-color 1.5s ease, color 1s ease;
  
}

/*containers*/

.s-col,.s-half,.s-third,.s-twothird,.s-threequarter,.s-quarter{float:left;width:100%}

div.auto{-webkit-hyphens: manual;-ms-hyphens: manual;hyphens: manual;}

/* Sizing */
@media (min-width:1000px){.s-col.m1{width:8.33333%}.s-col.m3,.s-half{width:49.99999%}}
@media (min-width:749px){.s-col.m2{width:16.66666%}.s-quarter{width:24.99999%}.s-col.m4,.s-third{width:33.33333%}}


.padding-em {
	padding-left: 2.2em; padding-right: 2.2em;
}


html, body {
	max-width: 100%;
	overflow-x: hidden;
	transition: text 0.2s ease;
}


html {
  scroll-behavior: smooth;
}

.padding-rem {
	padding-left: 2rem; padding-right: 2rem;
	left:0;
	right:0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
}

::selection {
  color: #080808;
  background: #f7f7f7;
}


canvas {
    display: block;
    position: fixed;
	text-align: center;
    z-index: -1;
}



a.white-link, a.white-link:link {
	color: #fff;
	transition: all 150ms ease;
	border-bottom: 1px solid #718375;
	padding-bottom: 0.2em;
	text-decoration: none;
}
a.white-link:hover {
	border-bottom: 1px solid #000;
	color: #dde3dd;
	padding-bottom: 1em;
}


a.white1-link, a.white1-link:link {
	color: #fff;
	opacity: 0.6!important;
	transition: all 150ms ease;
	border-bottom: 1px solid;
	padding-bottom: 0.07em;
	text-decoration: none;
}
a.white1-link:hover {
	opacity: 1!important;
}

a.arrow-link, a.arrow-link:link{}

a.arrow-link:after {
  content: '›';
  position: absolute;
  padding-left: 5px;
  margin: auto;
  opacity: 0.4!important;
  transition: all 150ms ease;
}

a.arrow-link:hover{}

a.arrow-link:hover:after {
	opacity: 1!important;
  transform: translate(4px, 0px);
}


a.opacity-link, a.opacity-link:link {
	color: inherit;
	opacity: 0.5;
	transition: all 150ms ease;
	text-decoration: none;
}
a.opacity-link:hover {
	opacity: 0.8;
}

.grey-wrap {
	opacity: 0.6!important;
}

.div-wrap {
	color: #fff;
	opacity: 0.3!important;
	/*color: #777777;*/
	text-transform: uppercase;
	font-size: 1.05em;
	letter-spacing: 0.07em;
	line-height: 1.8;
}

span.div-space {
	letter-spacing: -0.2em;
}


.title-class {font-size: 5.9em; letter-spacing: 0.013em; line-height: 1.05;}
.subtitle-class {font-size: 3.6em; letter-spacing: 0.013em; line-height: 1.34;}

@media only screen and (max-width: 700px) {
	.title-class {font-size: 4.9em;}
	.subtitle-class {font-size: 2.6em;}
}


/* panel styles */
.panel {
  /* min height in case content is higher than window height */
  min-height: 70vh;
  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;*/
  /*margin-right: auto;
  margin-left: auto;*/
  margin: 0 auto;
  display: block;
  max-width: 64rem;
  font-family: sans-serif;

}

.header-footer {
	margin: 0 auto;
	display: block;
	max-width: 64rem;
	font-family: sans-serif;
}

h1.logo-text {
	font-size: 1.8em;
	letter-spacing: 0.01em;
}
	

/* text stuff */
body {
  text-align: left;
  font-size: 100%;
  line-height: 1.618;
}
h1 {
  font-size: 3.2em;
  letter-spacing: 0.015em;
  line-height: 1.25;
}


h2 {
  font-size: 2.4em;
  letter-spacing: 0.01em;
  line-height: 1;
}

h3 {
  font-size: 1.8em;
  letter-spacing: 0.01em;
  line-height: 0.89;
  color: #fff;
}

h4 {
	font-size: 1.4em;
	letter-spacing: 0.01em;
	line-height: 0.6;
	color: #fff;
}

p {
  font-size: 1.18em;
  /*max-width: 30em;*/
  margin-bottom: 1.618em;
}

@media only screen and (max-width: 700px) {
	h1 {font-size: 2.4em; line-height: 1}
	h3 {font-size: 1.6em; line-height: 0.8}
	p {font-size: 1.06em;}
}


span.outline {
	font-size: inherit;
	color: inherit;
	-webkit-text-fill-color: black; /* color override */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
}

/*anti select stuff*/
.no-select {
  -webkit-user-select: none; /* safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* normal */	
}


#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  z-index: 10000;
}

#loading-image {z-index: 10001; position: absolute;}

.loading {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -30px 0 0 -30px;
  transform: rotate(45deg);
}
.loading div {
  width: 6px;
  height: 6px;
  background: #f7f7f7;
  border-radius: 100%;
  float: left;
  margin-bottom: 12px;
  animation: scaleDot 2s ease infinite;
}
.loading div:not(:nth-child(4n+4)) {
  margin-right: 12px;
}
.loading div:nth-child(1) {
  animation-delay: 0;
}
.loading div:nth-child(2),
.loading div:nth-child(5) {
  animation-delay: 0.1s;
}
.loading div:nth-child(3),
.loading div:nth-child(6),
.loading div:nth-child(9) {
  animation-delay: 0.2s;
}
.loading div:nth-child(4),
.loading div:nth-child(7),
.loading div:nth-child(10),
.loading div:nth-child(13) {
  animation-delay: 0.3s;
}
.loading div:nth-child(8),
.loading div:nth-child(11),
.loading div:nth-child(14) {
  animation-delay: 0.4s;
}
.loading div:nth-child(12),
.loading div:nth-child(15) {
  animation-delay: 0.5s;
}
.loading div:nth-child(16) {
  animation-delay: 0.6s;
}
@-moz-keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scaleDot {
  40% {
    transform: scale(1.3) translate(-2px, -2px);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

