/* this part is from normalize.css */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:auto}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#060529}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}




fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* end of normalize.css */


/*containers*/

.s-col,.s-half,.s-third,.s-twothird,.s-threequarter,.s-quarter{float:left;width:100%}


/* Sizing */
@media (min-width:1000px){.s-col.m1{width:8.33333%}.s-col.m3,.s-half{width:49.99999%}}
@media (min-width:749px){.s-col.m2{width:16.66666%}.s-quarter{width:24.99999%}.s-col.m4,.s-third{width:33.33333%}}


/* Setting fade transition and default settings */
body {
  /*color: #2f1fe0*/
  color: #fff;
  background-color: #c5c9e6;
  transition: background-color 1.5s ease, color 1s ease;
  
}

.padding-em {
	padding-left: 2em; padding-right: 2em;
}


html, body {
	max-width: 100%;
	overflow-x: hidden;
}

.title-class {font-size: 4em; letter-spacing: -0.03em;}



/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  /* outline: 10px solid hotpink; */
  /* turn above on to see the edge of panels */
}


/* colour gradients */
.color-linkwater {
  background-color: #bac3f0;
  color: #fff;
}
.color-moonraker {
  background-color: #cdd5f4;
  color: #fff;
}
.color-glacier {
  background-color: #d9efda;
  color: #5b2bf8;
}
.color-gin {
  background-color: #E9F2E9;
  color: #3c1eb4;
}
.color-perfume {
  background-color: #cfcaf8;
  color: #fff;
}
.color-peppermint {
  background-color: #ddf1d8;
  color: #6a48ef;
}

.color-pigeon {
	background-color: #a1bcdd;
	color: #fff;
}

.color-verhythm-light {
	background-color: #a6bdf2;
	color: #fff;
}

.color-rhino {
	background-color: #303970;
	color: #fff;
}

.color-dark {
	background-color: #1f1f59;
	color: #fff;
}

.color-bayofmany {
	background-color: #263684;
	color: #fff;
}

.color-chambray {
	background-color: #99a9e1;
	color: #fff;
}

.color-lilac {
	background-color: #cfc3ee;
	color: #fff;
}

.color-purple {
	background-color: #afa5db;
	color: #fff;
}


/* text stuff */
body {
  text-align: left;
  font-size: 100%;
  line-height: 1.618;
}
h1 {
  font-size: 3.3em;
  letter-spacing: -0.025em;
  line-height: 1.1;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -0.02em;
  line-height: 1;
}

h3 {
  font-size: 1.4em;
  letter-spacing: -0.01em;
  line-height: 0.9;
  color: #fff;
}

p {
	font-size: 1.1em;
  max-width: 30em;
  margin-bottom: 1.618em;
}


/*parallax stuff*/
.parallax {
    display: block;
    max-width: 100%;
    position: absolute;
    opacity: 1;
    transform: translateX(-50%);
}

.verhythm, .safemindspace {
	  background-attachment: fixed;
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: contain;
}

.verhythm {
  background-image: url("verhythm.png");
  height: 100%;
}

.safemindspace {
  background-image: url("safemindspace.png");
  height: 100%;
}

.half-box {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.fade {}


/* tea load! */

#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #c5c9e6;
  z-index: 10000;
}

#loading-image {z-index: 10001; position: absolute;}


svg.tea {
  --secondary: #fff;
}
svg.tea #teabag {
  transform-origin: top center;
  transform: rotate(0.001deg);
  animation: swing 7s infinite;
}
svg.tea #steamL {
  stroke-dasharray: 13;
  stroke-dashoffset: 13;
  animation: steamLarge 2s infinite;
}
svg.tea #steamR {
  stroke-dasharray: 9;
  stroke-dashoffset: 9;
  animation: steamSmall 2s infinite;
}
@-moz-keyframes swing {
  50% {
    transform: rotate(-0.001deg);
  }
}
@-webkit-keyframes swing {
  50% {
    transform: rotate(-0.001deg);
  }
}
@-o-keyframes swing {
  50% {
    transform: rotate(-0.001deg);
  }
}
@keyframes swing {
  50% {
    transform: rotate(-0.01deg);
  }
}
@-moz-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@-webkit-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@-o-keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}
@-moz-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
@-webkit-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
@-o-keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}
@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}

/*gallery*/
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1300px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}



/*link*/

a.linkwater-link, a.linkwater-link:link {
  color: #fff;
  text-decoration: none;
  background-position-y: -0%;
  background-image: linear-gradient( transparent 50%, #2235e9 50%);
  transition: background 300ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

a.linkwater-link:hover {
  background-position-y: 100%;

}

a.white-link, a.white-link:link {
  text-decoration: none;
  color: inherit;
  background-position-y: -0%;
  background-image: linear-gradient( transparent 50%, #fff 50%);
  transition: background 300ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

a.white-link:hover {
  background-position-y: 100%;

}

a.verhythm-link, a.verhythm-link:link {
  text-decoration: none;
  color: inherit;
  background-position-y: -0%;
  background-image: linear-gradient( transparent 50%, #4d7ae6 50%);
  transition: background 300ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

a.verhythm-link:hover {
  background-position-y: 100%;

}

a.sms-link, a.sms-link:link {
  text-decoration: none;
  color: inherit;
  background-position-y: -0%;
  background-image: linear-gradient( transparent 50%, #a5cec1 50%);
  transition: background 300ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

a.sms-link:hover {
  background-position-y: 100%;

}

a.sms1-link, a.sms1-link:link {
  text-decoration: none;
  color: inherit;
  background-position-y: -0%;
  background-image: linear-gradient( transparent 50%, #23aba6 50%);
  transition: background 300ms ease;
  background-size: 2px;
  background-size: auto 175%;
}

a.sms1-link:hover {
  background-position-y: 100%;

}


a.bluefade-link, a.bluefade-link:link {
	color: inherit;
	transition: color 300ms ease;
	text-decoration: none;
}
a.bluefade-link:hover {
	color: #4d7ae6;
}




/* scroll indicator */

 .mouse {
	 background: #fff linear-gradient(transparent 0%, transparent 50%, #2f1fe0 50%, #2f1fe0 100%);
	 position: relative;
	 width: 40px;
	 height: 60px;
	 border-radius: 100px;
	 background-size: 100% 200%;
	 animation: colorSlide 5s linear infinite, nudgeMouse 5s ease-out infinite;
}
 .mouse:before, .mouse:after {
	 content: "";
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 margin: auto;
}
 .mouse:before {
	 width: 35px;
	 height: 55px;
	 background-color: #c5c9e6;
	 border-radius: 100px;
}
 .mouse:after {
	 background-color: #2f1fe0;
	 width: 8px;
	 height: 8px;
	 border-radius: 100%;
	 animation: trackBallSlide 5s linear infinite;
}
 @keyframes colorSlide {
	 0% {
		 background-position: 0% 100%;
	}
	 20% {
		 background-position: 0% 0%;
	}
	 21% {
		 background-color: #fff;
	}
	 29.99% {
		 background-color: #2f1fe0;
		 background-position: 0% 0%;
	}
	 30% {
		 background-color: #fff;
		 background-position: 0% 100%;
	}
	 50% {
		 background-position: 0% 0%;
	}
	 51% {
		 background-color: #fff;
	}
	 59% {
		 background-color: #2f1fe0;
		 background-position: 0% 0%;
	}
	 60% {
		 background-color: #fff;
		 background-position: 0% 100%;
	}
	 80% {
		 background-position: 0% 0%;
	}
	 81% {
		 background-color: #fff;
	}
	 90%, 100% {
		 background-color: #2f1fe0;
	}
}
 @keyframes trackBallSlide {
	 0% {
		 opacity: 1;
		 transform: scale(1) translateY(-15px);
	}
	 6% {
		 opacity: 1;
		 transform: scale(0.9) translateY(3.75px);
	}
	 14% {
		 opacity: 0;
		 transform: scale(0.5) translateY(30px);
	}
	 15%, 19% {
		 opacity: 0;
		 transform: scale(0.5) translateY(-15px);
	}
	 28%, 29.99% {
		 opacity: 1;
		 transform: scale(1) translateY(-15px);
	}
	 30% {
		 opacity: 1;
		 transform: scale(1) translateY(-15px);
	}
	 36% {
		 opacity: 1;
		 transform: scale(0.9) translateY(3.75px);
	}
	 44% {
		 opacity: 0;
		 transform: scale(0.5) translateY(30px);
	}
	 45%, 49% {
		 opacity: 0;
		 transform: scale(0.5) translateY(-15px);
	}
	 58%, 59.99% {
		 opacity: 1;
		 transform: scale(1) translateY(-15px);
	}
	 60% {
		 opacity: 1;
		 transform: scale(1) translateY(-15px);
	}
	 66% {
		 opacity: 1;
		 transform: scale(0.9) translateY(3.75px);
	}
	 74% {
		 opacity: 0;
		 transform: scale(0.5) translateY(30px);
	}
	 75%, 79% {
		 opacity: 0;
		 transform: scale(0.5) translateY(-15px);
	}
	 88%, 100% {
		 opacity: 1;
		 transform: scale(1) translateY(-15px);
	}
}
 @keyframes nudgeMouse {
	 0% {
		 transform: translateY(0);
	}
	 20% {
		 transform: translateY(8px);
	}
	 30% {
		 transform: translateY(0);
	}
	 50% {
		 transform: translateY(8px);
	}
	 60% {
		 transform: translateY(0);
	}
	 80% {
		 transform: translateY(8px);
	}
	 90% {
		 transform: translateY(0);
	}
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #798cdf;
}

::selection {
  color: white;
  background: #798cdf;
}

.no-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */	
}

.wrapper {
text-align: left;
}
 
form {
  min-width: 260px;
  margin: auto;
  /*display: inline-block;*/

}

.group {
  position: relative;
  margin: 45px 0;
}

textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: #e3ebf5;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 260px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #e3ebf5;
}
input:focus,
textarea:focus {
  outline: none;
}
input:focus ~ label, input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -14px;
  font-size: 12px;
  color: #5521e1;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 260px;
}

label {
  color: #e3ebf5;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 260px;
}
.bar:before {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #5521e1;
  transition: 300ms ease all;
  left: 0%;
}

.btn {
  background: #fff;
  color: #aab0b8;
  border: none;
  border-radius: 1px;
  padding: 10px 20px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.btn:hover {
  color: #9fa5ac;
}
.btn.btn-link {
  background: #5521e1;
  color: #ddd3f9;
}
.btn.btn-link:hover {
  background: #4c1ccd;
  color: #e6defb;
}
.btn.btn-submit {
  background: #5521e1;
  color: #ccbcf6;
}
.btn.btn-submit:hover {
  background: #4c1ccd;
  color: #e6defb;
}

.btn-box {
  margin: auto;
}